@page "/"
<div style="background: #ffd89b; /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #19547b, #ffd89b); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
    <h1>Hello, Welcome to ABC Games Online Store</h1>
</div>

<div>

    <button class="btn btn-dark">
        <NavLink class="nav-link" href="Genre">
            Genre
        </NavLink>
    </button>
    <button class="btn btn-dark">
        <NavLink class="nav-link" href="Publisher">
            Publisher
        </NavLink>
    </button>
    <button class="btn btn-dark">
        <NavLink class="nav-link" href="Games">
            GamesInfo
        </NavLink>
    </button>
    <button class="btn btn-dark">
        <NavLink class="nav-link" href="AgeRating">
            AgeRating
        </NavLink>
    </button>
</div>



