@page "/Genre/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Games</h3>
<hr />
<br />

<FormComponent ButtonText="Create Genre" genre="genre"OnValidSubmit="@CreateGenre" />

@code {

    Genre genre = new Genre();

    private async Task CreateGenre()
    {
        await _client.PostAsJsonAsync(Endpoints.GenresEndpoint, genre);
        _navManager.NavigateTo("/Genre");
    }

}
