<EditForm Model="@genre" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>GenreName: </label>
            <div>
                <InputText @bind-Value="genre.Name" class="form-control" />
                <ValidationMessage For="@(()=> genre.Name)" />
            </div>
        </div>
    </fieldset>

        @if (!Disabled)
        {
            <button type="submit" class="btn btn-success btn-block">
                @ButtonText
            </button>
        }
        
        <GamesProject.Client.Components.BackToList Target="genre" />
</EditForm>

@code{
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Genre genre { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}