@page "/gamePublishers/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent gamePublisher="gamePublisher" Disabled="true" />
@code {
[Parameter] public int id { get; set; }
GamePublisher gamePublisher = new GamePublisher();
protected async override Task OnParametersSetAsync()
{
gamePublisher = await
_client.GetFromJsonAsync<GamePublisher>($"{Endpoints.GamePublishersEndpoint}/{id}");
}
}